@charset "UTF-8";


.rating-css {
  height: 50px;
  width: 200px;
}
.rating-css div {
  color: #ffe400;
  font-size: 10px;
  font-family: sans-serif;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
}
.rating-css input {
  display: none;
}
.rating-css input + label {
  font-size: 20px;
  text-shadow: 1px 1px 0 #ffe400;
  cursor: pointer;
}
.rating-css input:checked + label ~ label {
  color: #838383;
}
.rating-css label:active {
  transform: scale(0.8);
  transition: 0.3s ease;
}

