@charset "UTF-8";

.cimemaouter{
	width: 740px;
	height: 150px;
	background: #F2F4F5;
	border-radius: 10px;
	margin:20px;
	text-align: center;
	padding: 50px;
	line-height: 30px;
}
.cimemastory{
	clear:both;
	margin: 30px;
	width: 300px;
	height: 100px;
	border-radius: 10px;
	background: #fff;
	border: 1px solid #ccc;
}
.myrecord{
	float: left;
	width: 99px;
	height: 100px;
	line-height: 70px;
}
.recordinner{
	width: 99px;
	height: 30px;
}
.seemore{
	position: relative;
	top:12px;
	width: 300px;
	left:450px;
	text-align: right;
}
.mycinemaRecordouter{
	margin-top: 35px;
}
.mycinemapuouter{
	margin:20px;
	border-top: 1px solid #000;
	width: 740px;
	height: 300px;
}
.puinfor{
	margin-left:10px;
	width: 600px;
	height: 150px;
	float: left;
}
.sales_time{
	margin-top:15px;
	margin-bottom:20px;
}
.saleslink{
	color: #00f;
}
.puinforText{
	margin-bottom:5px;
}
#writeouter{
	width: 740px;
}
.cancelOuter{
	text-align: right;
	margin-top: 55px; 
}
.seeContent{
	text-align: left;
	margin-left: 10px;
}
.seeContentitle{
	margin: 10px;
}
.puchaseinner{
	height: 50px;
	float: left;	
	width: 185px;
	border: 1px solid #ccc;
	line-height: 50px;
}
#titleinner>div{
	background: #F2F4F5;
}
.writeouter{
	width:690px;
	height:150px;
	border-bottom: 1px solid #ccc;
	float: left;
	margin-left: 5px;
	text-align: left;
}
.writeimg{
	margin: 9px;
}
.writeimg, .writeimg>img{
	width:100px;
	height:130px;
	border: 1px solid #ccc;
	float: left;
}
.qnaDetailGo:hover{
	cursor: pointer;
}
.purchasespaceButt{
	position : relative;
	top: -20px;
	text-align: right;
}
.modal-header{
	background: #F2F4F5;
}
.modal-body{
	height: 400px;
}
#close{
	position:relative;
	left: -255px;
	top: 60px;
}
.modalouter{
	position:relative;
	top:20px;
	margin: 0 auto;
	width: 500px;
	height: 180px;
	border-top: 1px solid #ccc;
}
.modalmiddle{
	width: 500px;
	height: 60px;
	border-bottom: 1px solid #ccc;
	line-height: 60px;
}
.modalname{
	width: 100px;
	height: 60px;
	float: left;
	background: #F2F4F5;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.modaldata{
	width: 400px;
	height: 60px;
	text-align: left;
	position: relative;
	left: 10px;
}
#h4flow{
	position:relative;
	top:10px;
	float: none;
}
#mycinemaQnaouter{
	position:relative;
	top:13px;
}