@charset "UTF-8";

.purchouter{
	margin:20px;
	width: 740px;
	height: 100px;
	background: #F2F4F5;
	text-align: left;
	padding: 30px;
}
.purchaseMainouter{
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 740px;
	height: 220px;
	margin-bottom: 10px;
	float: left;
	text-align: left;
	line-height: 30px;
}
#recordpurchase{
	height: 440px;
	border: 0px;
	margin-bottom: 80px;
}
.purchaseimg , .purchaseimg>img{
	width:120px;
	height:180px;
	border: 1px solid #ccc;
	float: left;
}
.purchaseimg{
	margin: 18px;
}
.puinfor{
	position:relative;
	top: 5px;
	left:10px;
	width: 300px;
	height: 150px;
	float: left;
}
#puinfor{
	margin-top: 10px;
	width: 570px;
}
.purchasespace{
	clear:both;
	width: 250px;
	float: left;
}
.purchasespaceButt{
	clear:both;
	text-align: right;
	margin-right:5px;
}
.saleslink{
	color: #00f;
}
.modal-header{
	background: #F2F4F5;
}
.modal-body{
	height: 400px;
}
#close{
	position:relative;
	left: -260px;
	top: 60px;
}
.modalouter{
	position:relative;
	top:20px;
	margin: 0 auto;
	width: 500px;
	height: 180px;
	border-top: 1px solid #ccc;
}
.modalmiddle{
	width: 500px;
	height: 60px;
	border-bottom: 1px solid #ccc;
	line-height: 60px;
}
.modalname{
	width: 100px;
	height: 60px;
	float: left;
	background: #F2F4F5;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.modaldata{
	width: 400px;
	height: 60px;
	text-align: left;
	position: relative;
	left: 10px;
}
h4{
	position:relative;
	top:10px;
	float: none;
}
.purchPosition{
	position: relative;
	top:6px;
}
#moiverecord{
	height: 25px;
}
#recordCpurchase{
	border-bottom:none;
}
.pageCP{
	position: relative;
	top:20px;
}