@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
}
.main{
	margin: 0 auto;
	height: 300px;
	width: 500px;
	border-top: 1px solid #ccc;
	background: #fff;
}
.mainList{
	margin: 0 auto;
	height: 85px;
	width: 500px;
	background: #fff;
}
.outF{
	width: 500px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	float: left;
	border-bottom: 1px solid #ccc;
}
.outT{
	float: left;
}
.outD{
	width:150px;
	height:60px;
	text-align: center;
	float: left;
	background: #F2F4F5;
	border-bottom: 1px solid #ccc
}
input[type=submit]{
	margin-left: 200px;
	height: 50px;
	width: 100px;
	border :none;
	background-color:#000;
	color:#fff;
}
input{
	margin-left: 25px;
	width: 200px;
	height: 30px;
	padding: 3px;
	border : 1px solid #ccc;
	margin-top: 10px;
}
#check{
	margin-top: 20px;
	text-align:center;
	background: #F2F4F5;
}
h2{
	margin-bottom: 30px;
	margin-left: -330px;
}






#idfind_main {width: 1000px; padding: 100px 0; }
#idfind_main:after {content:""; display: block; clear: both;}


