* {padding: 0px; margin: 0px; font-size: 16px;  }
ul, li {text-decoration: none; list-style: none; }
a {text-decoration: none; color: black; }
a:hover {text-decoration: none; color: black; }

#sideBar {width: 170px; height: 500px; float: left; position: relative; }
#content {width: 800px; position: relative; float: left; left: 30px;  }
.clear {clear: both; }

h2 {text-align: left; font-size: 28px; margin-bottom: 30px; }

#sideBar ul li:nth-of-type(1) {height: 100px; line-height: 100px; background: #444; border: 1px solid #444; border-radius: 10px 10px 0 0; }
#sideBar ul li:nth-of-type(1) a {font-size: 20px; height: 100px; color: white; }
#sideBar ul li {width: 170px; height: 60px; background: #F2F4F5; line-height: 60px; display: inline-block; box-sizing: border-box; border: 1px solid #d8d9db; }
#sideBar ul li a {width: 170px; height: 60px; display: inline-block;}
#sideBar ul li:last-child {border-radius: 0 0 10px 10px; }
#sideBar ul li:nth-of-type(5) {background: white; }

.must_cont {text-align: right; color: red; font-weight: bold; margin-bottom: 10px; }
.must_star {color: red; font-weight: bold; }

.subtitle { margin-bottom: 30px; text-align: left; }
.qna_form table {width: 800px; box-sizing: border-box; }
.qna_form tr {height: 50px; }
.qna_form tr>td {padding: 10px; }
.qna_form tr>td:nth-of-type(1) {background: #F2F4F5; width: 150px; text-align: left; border-top: 1px solid black; font-weight: bold;  }
.qna_form tr>td:nth-of-type(1) label {cursor: pointer;  }
.qna_form tr>td:nth-of-type(2) {width: 650px;text-align: left; border-top: 1px solid black; }

.qna_form select {font-size: 16px; height: 30px; width: 200px; text-align: left;  border: 1px solid #d8d9db; outline: none; }
.qna_form .sub {font-size: 16px; height: 30px; width: 200px; }
.qna_form .title {width: 620px; font-size: 16px; height: 30px;  border: 1px solid #d8d9db; } 
.qna_form textarea {width: 620px; font-size: 16px; height: 300px; resize: vertical; border: 1px solid #d8d9db; }
.qna_form textarea:focus, .sub:focus, .title:focus, select:focus {border: 1px solid black; outline: none; }

.qna_form_tb td {border-bottom: 1px solid #d8d9db; }

.upload_box p {display: inline-block; margin-bottom: 10px; }
.upload_box input[type="file"] { font-size: 16px; width: 1px; height: 1px; margin: -1px; overflow: hidden;}
.upload_box .upfile_class {padding: 5px 10px; font-size: 16px; background-color: #666; margin-left: 10px; 
						cursor: pointer; border-radius: 5px; color: white; font-weight: bold;}
.upload_box .upload_name { display: inline-block; padding: 5px 10px; border-radius: 5px; width: 250px;  }

.sbm {width: 100px; height: 50px; font-size: 16px; background: #dbdbdb; margin: 50px 0; text-align: center; border: none; border-radius: 5px; }