* {padding: 0px; margin: 0px; font-size: 16px;  }
ul, li {text-decoration: none; list-style: none; }
a {text-decoration: none; color: black; }
a:hover {text-decoration: none; color: black; }

#sideBar {width: 170px; height: 500px; float: left; position: relative; }
#content {width: 800px; position: relative; float: left; left: 30px;  }
.clear {clear: both; }

h2 {text-align: left; font-size: 28px; margin-bottom: 30px; }

#sideBar ul li:nth-of-type(1) {height: 100px; line-height: 100px; background: #444; border: 1px solid #444; border-radius: 10px 10px 0 0; }
#sideBar ul li:nth-of-type(1) a {font-size: 20px; height: 100px; color: white; }
#sideBar ul li {width: 170px; height: 60px; background: #F2F4F5; line-height: 60px; display: inline-block; box-sizing: border-box; border: 1px solid #d8d9db; }
#sideBar ul li a {width: 170px; height: 60px; display: inline-block;}
#sideBar ul li:last-child {border-radius: 0 0 10px 10px; }
#sideBar ul li:nth-of-type(6) {background: white; }



/* 공지테이블 */
.td1 {font-size: 16px; border-top: 1px solid gray;  border-spacing: 0; margin-bottom: 30px;  }
.td1 tr:first-of-type>td {background: #f2f4f5; font-weight: bold; height: 50px;  }
.td1 tr td {border-bottom: 1px solid #eaeaea; height: 40px; }
.td1 tr:first-of-type>td:nth-of-type(1) {width: 50px;  }
.td1 tr:first-of-type>td:nth-of-type(2) {width: 100px;  }
.td1 tr:first-of-type>td:nth-of-type(3) {width: 430px; }
.td1 tr>td:nth-of-type(3) {text-align: left; }
.td1 tr:first-of-type>td:nth-of-type(4) {width: 120px;  }
.td1 tr:first-of-type>td:nth-of-type(5) {width: 100px;  }
.td1 tr>td span {width: 425px; display: inline-block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; height: 20px; }
.td1 tr>td span:hover {font-weight: bold; color: #444; text-decoration: underline;}

p {margin: 5px 0;  }
.td1 a:hover {text-decoration: underline; color: #8a8a8a; }
.td1 tr:last-child td{border-bottom: none; height: 150px;   }

/* 카테고리 */
.notice_cate {width: 800px; height: 40px; text-align: left; margin-bottom: 20px; border-bottom: 1px solid #d8d9db; }
.notice_cate ul li {float: left; margin-left: -1px; }
.notice_cate a {width: 120px; height: 40px; display: inline-block; line-height: 40px; text-align: center;
				border: 1px solid #d8d9db; box-sizing: border-box;}
.notice_cate_sel {background: #d8d9db; font-weight: bold; }


/* 검색 search */
.search {width: 500px; height: 40px;  margin-left: 300px; position: relative;}
.search>.search_reset {width: 60px; height: 38px; display: inline-block; position: absolute; left: 90px; line-height: 38px; border-radius: 5px; 
						border: 1px solid #d8d9db;  }
.search>select {font-size: 16px; width: 80px; height: 38px; text-align: left;  border: 1px solid #d8d9db; outline: none; margin-left: 130px; border-radius: 5px;  }
.search>.inputText {font-size: 16px; width: 200px; height: 38px; border: 1px solid #d8d9db; outline: none; padding: 5px; margin-left: 10px; 
					border-radius: 5px 0 0 5px;   }
.search>.inputButton {font-size: 16px; width: 40px; height: 38px; background-image: url("../../../views/user/img/service/search.png"); border: 1px solid #d8d9db;
						position: absolute; left: 460px;  border-left: none; border-radius: 0 5px 5px 0; }
.block_search {pointer-events: none; background: #ccc; }
.block_inputButton {font-size: 16px; width: 40px; height: 38px; background-image: url("../../../views/user/img/service/search2.png"); border: 1px solid #d8d9db;
					position: absolute; left: 460px;  border-left: none; border-radius: 0 5px 5px 0; }

/* 검색 (총갯수) */
.search_result {text-align: left; }
.search_result p {font-size: 14px; }
.search_result span {font-weight: bold; }

/* 페이지버튼 */
.pagebtn {width: 32px; height: 32px; box-sizing: border-box; border-radius: 4px; border: 1px solid #dbdbdb; background: white;   }
.pagebtn:hover {border: 1px solid black; background: white; }
.pagebtn_sel {background: rgb(220,220,220); width: 32px; height: 32px; box-sizing: border-box; border-radius: 4px; border: none; text-align: center; }
.pagebtn_lr {background: rgb(241,240,245)}